
@{
    ViewBag.Title = "DemaDetail";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<main class="main-content-wrapper">
    <div class="inner-page-content">
        <!-- Single Post Area Start -->
        <div class="single-post-area mb--75 mb-md--55">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <!-- Single Post Start -->
                        <article class="">
                            <header class="single-post__header">
                                <h2 class="single-post__title">Consult lorem Ipsum is simply dummy text of the printing and typesetting</h2>
                                <div class="single-post__header-meta">
                                    <span class="posted-on">日期: 13 feb 2019</span>
                                    <span class="post-category">
                                        <!-- <a href="blog-details-image.html">Business</a> -->
                                    </span>
                                </div>
                            </header>
                            <div class="single-post__info">

                                <div class="row mb--80">
                                    <div class="col-md-6 mb-sm--40">
                                        <figure>
                                            <img src="~/image/blog/blog-01.jpg" alt="blog details" class="w-100">
                                        </figure>
                                    </div>
                                    <div class="col-md-6">
                                        <figure>
                                            <img src="~/image/blog/blog-02.jpg" alt="blog details" class="w-100">
                                        </figure>
                                    </div>
                                </div>
                                <div class="row">
                                    <div>
                                        <!-- <div class="col-lg-9 offset-lg-3"> -->
                                        <blockquote>Lorem Ipsum is simply dummy text of the printing and typesetting</blockquote>
                                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web</p>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <!-- Single Post End -->
                        <!-- Comment Area Start -->
                        <section class="comment">
                            <h2 class="comment-title">4 comments</h2>
                            <ul class="comment-list mb--45">
                                <li>
                                    <div class="single-comment">
                                        <figure class="comment-avatar">
                                            <img src="assets/img/others/avatar-large-2.png" alt="Avatar">
                                        </figure>
                                        <div class="comment-info">
                                            <div class="comment-meta">
                                                <h4>Carlos</h4>
                                                <div class="metadata">
                                                    <h4>报价</h4>
                                                    <span class="comment-date">February 07, 2019</span>
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <p>Hi, this is a comment. <br> To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="single-comment">
                                        <figure class="comment-avatar">
                                            <img src="assets/img/others/comment-1.jpg" alt="Avatar">
                                        </figure>
                                        <div class="comment-info">
                                            <div class="comment-meta">
                                                <h4>Carlos</h4>
                                                <div class="metadata">
                                                    <span class="comment-date">February 07, 2019</span>
                                                    <a href="#" class="comment-reply-link">Reply</a>
                                                </div>
                                            </div>
                                            <div class="comment-content">
                                                <p>Hi, this is a comment. <br> To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li>
                                            <div class="single-comment">
                                                <figure class="comment-avatar">
                                                    <img src="assets/img/others/comment-2.jpg" alt="Avatar">
                                                </figure>
                                                <div class="comment-info">
                                                    <div class="comment-meta">
                                                        <h4>Admin</h4>
                                                        <div class="metadata">
                                                            <span class="comment-date">February 07, 2019</span>
                                                            <a href="#" class="comment-reply-link">Reply</a>
                                                        </div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Hi, this is a comment. <br> To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="single-comment">
                                                <figure class="comment-avatar">
                                                    <img src="assets/img/others/comment-3.jpg" alt="Avatar">
                                                </figure>
                                                <div class="comment-info">
                                                    <div class="comment-meta">
                                                        <h4>Admin</h4>
                                                        <div class="metadata">
                                                            <span class="comment-date">February 07, 2019</span>
                                                            <a href="#" class="comment-reply-link">Reply</a>
                                                        </div>
                                                    </div>
                                                    <div class="comment-content">
                                                        <p>Hi, this is a comment. <br> To delete a comment, just log in and view the post's comments. There you will have the option to edit or delete them.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="comment-respond">
                                <h3 class="comment-reply-title">Write a Reply or Comment</h3>
                                <form action="#" class="form comment-form">
                                    <div class="form__group mb--25 mb-sm--20">
                                        <div class="form-row">
                                            <div class="col-md-4 mb-sm--20">
                                                <input type="text" name="comment_name" id="comment_name" class="form__input" placeholder="Name*">
                                            </div>
                                            <div class="col-md-4 mb-sm--20">
                                                <input type="email" name="comment_email" id="comment_email" class="form__input" placeholder="Email*">
                                            </div>
                                            <div class="col-md-4">
                                                <input type="url" name="comment_website" id="comment_website" class="form__input" placeholder="Website">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form__group mb--25 mb-sm--20">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <textarea name="review" id="review" class="form__input form__input--textarea" placeholder="Comment*"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form__group">
                                        <div class="form-row">
                                            <div class="col-12">
                                                <button type="submit" class="btn btn-size-sm">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                        <!-- Comment Area End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Single Post Area End -->
        <!-- Related Post Area Start -->
        <!-- Related Post Area End -->
    </div>
</main>