
@{
    ViewBag.Title = "SucessResult";
    ViewBag.ResultMessage = "成功！";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section class="page-title-area bg-color" data-bg-color="#f4f4f4">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">@ViewBag.ResultMessage</h1>
                @*<ul class="breadcrumb">
                        <li><a href="index.html">@ViewBag.TitleB</a></li>
                        <li class="current"><span>@ViewBag.TitleC</span></li>
                    </ul>*@
            </div>
        </div>
    </div>
</section>


